.checkbox-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;

  & :focus:not(.focus-visible) {
    outline: 0;
  }

  .checkbox-input {
    appearance: none;
    background-color: #ccccce;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;

    &::before {
      bottom: -6px;
      content: "";
      left: -6px;
      position: absolute;
      right: -6px;
      top: -6px;
    }

    &::after {
      background-color: #fff;
      border-radius: 50%;
      content: "";
      height: 14px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 14px;
    }

    &:hover {
      background-color: gray;
      transition-duration: 0.3s;
      cursor: pointer;
    }

    &:checked {
      background-color: #6e79d6;

      &::after {
        background-color: #fff;
        left: 13px;
      }

      &:hover {
        background-color: #535db3;
      }
    }

    &,
    &::after {
      transition: all 100ms ease-out;
    }
  }
}