* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #0A1044;
}

a {
  text-decoration: none;
  display: block;
}